#register, #login, #nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navToForm {
  font-size: 25px;
  display: inline-block;
  align-self: center;
  margin-top: 25px;
}

#navTo{
  align-self: flex-end;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(35, 85, 150);
}

#navToForm:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}