#navBack{
  display: flex;
  justify-content: end;
  margin-right: 50px;
  margin-bottom: -100px;
  font-size: xxx-large;
}

#backButton:hover, #topic:hover{
  color: #13c092;
  cursor:pointer;
}

#popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(142, 219, 218, 0.79);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

#noPerm{
  margin-top: 10%
}

#topicPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(136, 189, 152, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

#topicInputBar {
  display: flex;
  flex-direction: column;
  background-color: rgb(189, 237, 240);
  padding: 2rem;
  border: 5px dashed #df92b5;
  border-radius: 25px;
  width: 800px;
  text-align: center;
}

#topicPopup input {
  width: 50%;
  padding: 1rem;
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #157bb7;
  border-radius: 25px;
  align-self: center;
}

#topicShown {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topicForm {
  display: flex;
  justify-content: center;
  margin-top: -45px;
  margin-bottom: 20px;
}

#topic {
  text-align: center;
  font-size: 40px;
}

#xButton, #getRandomTopic{
  align-self: flex-end;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
}

#randomTopicForm {
  font-size: 25px;
  display: inline-block;
}

#xButton:hover, #randomTopicForm:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
