.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: hsla(337, 52%, 83%, 0.833);
  border-radius: 20px;
  text-align: center;
}

#backNav {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  font-size: x-large;
}

.topicSub {
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
  color: rgb(23, 160, 160);
}

#back:hover, #xButton:hover, .topic:hover{
  color: #13c092;
  cursor:pointer;
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

#topicSubPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(136, 189, 152, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

#topicSubBar {
  display: flex;
  flex-direction: column;
  background-color: rgb(189, 237, 240);
  padding: 2rem;
  border: 5px dashed #e4e789;
  border-radius: 25px;
  width: 800px;
  text-align: center;
}

#topicSubPop input {
  width: 50%;
  padding: 1rem;
  font-size: large;
  margin-bottom: 2rem;
  border: 2px solid #157bb7;
  border-radius: 25px;
  align-self: center;
}

#xButton {
  align-self: flex-end;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
}
